// Navigation code here
.navigation-wrapper {
  border: 2px solid red;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  .logo {
    border: 2px solid green;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 2% 0;
  } //This closes the logo

  .links {
    border: 2px solid blue;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1% 0;
  } //This closes the links

  a {
    border: 2px solid yellow;
    width: 10%;
    text-decoration: none;
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
  } //This closes the anchors
} //This closes the navigation wrapper
